@{ ViewData["Title"] = "Home Page"; }

<section class="pt-3 pb-4" id="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card bg-gradient-dark shadow-lg">
                    <span class="badge rounded-pill bg-primary w-30 mt-n2 mx-auto">Platinum</span>
                    <div class="card-header text-center pt-4 pb-3 bg-transparent">
                        <h1 class="font-weight-bold mt-2 text-white">
                            <small class="text-lg mb-auto"></small>IBBA<small class="text-lg">/mo</small>
                        </h1>
                    </div>
                    <div class="card-body text-lg-start text-center pt-0">
                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">done</i>
                            <span class="ps-3 text-white">Gera uma nova cobrança numa conta pix de teste.</span>
                        </div>
                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">done</i>
                            <span class="ps-3 text-white">Esta cobrança é no valor de 140 reais. </span>
                        </div>

                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">remove</i>
                            <span class="ps-3 text-white">QRCode não pode ser lido pelo celular possivelmente por ser um link de sandbox. </span>
                        </div>

                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">remove</i>
                            <span class="ps-3 text-white">O Link do pix não é funcional possivelmente por ser em ambiente sandbox. </span>
                        </div>
                        <a href="javascript:;" onclick="CarregarViewComprador()" class="btn btn-icon bg-gradient-dark d-lg-block mt-3 mb-0" data-toggle="modal" data-target="#exampleModalCenter">
                            Join
                            <i class="fas fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card bg-gradient-dark shadow-lg">
                    <span class="badge rounded-pill bg-primary w-30 mt-n2 mx-auto">Advantage</span>
                    <div class="card-header text-center pt-4 pb-3 bg-transparent">
                        <h1 class="font-weight-bold mt-2 text-white">
                            <small class="text-lg mb-auto"></small>maxiPago!<small class="text-lg">/cc</small>
                        </h1>
                    </div>
                    <div class="card-body text-lg-start text-center pt-0">
                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">done</i>
                            <span class="ps-3 text-white">Gera uma nova cobrança para cartão de débito/crédito.</span>
                        </div>
                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">done</i>
                            <span class="ps-3 text-white">Esta cobrança é no valor de 140 reais. </span>
                        </div>
                        <div class="d-flex justify-content-lg-start justify-content-center p-2">
                            <i class="material-icons my-auto text-white">remove</i>
                            <span class="ps-3 text-white">O pagamento é autenticado via rota disponibilizada pela operadora. </span>
                        </div>
                        <a href="javascript:;" onclick="CarregarViewCompradorCartaoDeCredito()" class="btn btn-icon bg-gradient-dark d-lg-block mt-3 mb-0" data-toggle="modal" data-target="#exampleModalCenter">
                            Join
                            <i class="fas fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="~/js/Index/InvocarFormPagamento.js"></script>
    <script src="~/js/qrcode.min.js"></script>
}